<a href="https://colab.research.google.com/github/chjameskumar/Task_7/blob/main/Assignment_11_DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Data.csv

**Step 1: Importing the libraries**

In [22]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

**Step 2: Importing dataset**

In [6]:
data = pd.read_csv('Data.csv')

In [7]:
columns = data.columns

**Step 3: Handling the missing data**

In [8]:
data.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [9]:
# In Age & Salary we have one missing value each

In [10]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [11]:
# Replacing NaN (missing values) with median

In [12]:
data['Age'].fillna(data['Age'].median(), inplace = True)
data['Salary'].fillna(data['Salary'].median(), inplace = True)

**Step 4: Encoding categorical data**

In [13]:
# we have two columns with categorical data

In [14]:
OE = OrdinalEncoder()

In [15]:
data['Country'] = OE.fit_transform(data[['Country']])
data['Purchased'] = OE.fit_transform(data[['Purchased']])

In [16]:
data

   Country   Age   Salary  Purchased
0      0.0  44.0  72000.0        0.0
1      2.0  27.0  48000.0        1.0
2      1.0  30.0  54000.0        0.0
3      2.0  38.0  61000.0        0.0
4      1.0  40.0  61000.0        1.0
5      0.0  35.0  58000.0        1.0
6      2.0  38.0  52000.0        0.0
7      0.0  48.0  79000.0        1.0
8      1.0  50.0  83000.0        0.0
9      0.0  37.0  67000.0        1.0

**Step 5: Creating a dummy variable**

In [17]:
X = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [18]:
X.shape

(10, 3)

In [19]:
y.shape

(10,)

**Step 6: Splitting the datasets into training sets and Test sets**

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

**Step 7: Feature Scaling**

In [23]:
nor = MinMaxScaler()

In [24]:
X_train = nor.fit_transform(X_train)